<footer>
  <div class="block b-footer b-odd m-t-lg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 p-b">
          <div id="vk_groups"></div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <p>+7 (499) 112-47-92</p>
          <p>ok@nickvorobiov.com</p>
          <p>ООО «Реальность», <nobr>Санкт-Петербург,</nobr> <nobr>ул. Некрасова 40</nobr></p>
          <p><a href="http://soedinennost.com/privacy">Политика конфиденциальности</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
