{% comment %}


  Usage:

  {% include yandex-pay.html name="Paying for..." amount="995" redirect="http://somewhere.com/" %}


{% endcomment %}

<h1>Заказ #<span id="customerNumber-label">...</span></h1>
<p class="lead">
  {{ include.name }}
  <br/>{{ include.amount }} руб.
</p>
<form action="https://money.yandex.ru/eshop.xml" method="post">
  <input name="shopId" value="20575" type="hidden"/>
  <input name="scid" value="33320" type="hidden"/>
  <input name="sum" value="{{ include.amount }}" type="hidden">
  <input name="customerNumber" id="customerNumber" value="abc000" type="hidden"/>
  <input name="shopSuccessURL" value="{{ include.redirect }}" type="hidden"/>
  <input name="offer" value="{{ include.name }}" type="hidden"/>
  <input type="submit" class="btn btn-primary btn-lg" value="Оплатить"/>
</form>
<script type="text/javascript">
  var customerNumber = parseInt(new Date().getTime()).toString(16);
  document.getElementById('customerNumber').value = customerNumber;
  document.getElementById('customerNumber-label').innerText = customerNumber;
</script>